rofi.modi:                           window,run,ssh
rofi.width:                          35
rofi.lines:                          10
rofi.columns:                        1
rofi.font:                           Iosevka Term 20
rofi.bw:                             5
rofi.location:                       0
rofi.padding:                        5
rofi.yoffset:                        0
rofi.xoffset:                        0
rofi.line-margin: 18
rofi.fixed-num-lines:                true
rofi.matching:                       normal
rofi.separator-style:                none
rofi.scrollbar-width:                0
rofi.theme: /home/aiden/.config/rofi/colors-rofi-dark.rasi